$red: #d9534f;
$blue: #2F6186;
$gray-dark: #333;

$primary: $turquoise;
$info: #2c5e70;
$success: $green;
$warning: $orange;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;
$light-gray: #ddd;

