// Fonts
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:200,300,400|Open+Sans');

// Bulma

@import "node_modules/bulma/sass/utilities/initial-variables";

$primary: #CBD156;
$info: #2c5e70;
$turquoise: #2f7788;
$light-gray: #ddd;
$red: #d9534f;

@import "node_modules/bulma/bulma";
@import "node_modules/font-awesome/scss/font-awesome";

html {
  height: 100%;
  overflow: auto;
}

.login-box{
  margin-top: 80px;
}

.space-background{
  background-image: url("/img/space.jpg");
}

body {
  min-height:100%;
  font-family: 'Open Sans', sans-serif;
}

.home-container--cards{
  padding: 70px 0;
}

.hero-head{
  padding-top:60px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 200;

}

.card-header{
  align-items: center;
}

.main-nav {
  height: 80px;
}

.nav-logo {
  max-width: 150px;
}

.navbar-item img {
  max-height: initial;
}

.shadow {
  -webkit-box-shadow: 21px 13px 24px -3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 21px 13px 24px -3px rgba(0, 0, 0, 0.13);
  box-shadow: 21px 13px 24px -3px rgba(0, 0, 0, 0.13);
}

.heading-link {
  text-decoration: underline;
}

.is-danger {
  background-color: $danger;
  border-color: $danger !important;
  color: $white;
}

.is-turquoise {
  background-color: $turquoise;
  border-color: $info !important;
  color: $white;
}

.card.main-task-card .card-content {
  min-height: 150px;
}

.section a {
  color: $info;
}

.card-header {
  border-top:3px solid $primary;
}