// Bulma
@import "node_modules/bulma/sass/utilities/initial-variables";

@import "variables";

@import "node_modules/bulma/bulma";
@import "node_modules/font-awesome/scss/font-awesome";

@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700');
$family-primary: 'Heebo', sans-serif;

html {
  height: 100%;
}
body {
  height: 100%;
}

#app {
  height: 100%;
}

#mid {
  flex: 1 0 auto;
  display: flex;
}

#app nav + .hero {
  padding-top: 5rem;
}

.home-container--cards{
  padding: 70px 0;
}

.hero-head{
  padding-top:60px;
}

.card-header{
  align-items: center;
}

.main-nav {
  height: 80px;
  position: fixed;
  width:100%;
  z-index: 20;
}

section.hero.is-fullheight {
  width:100%;
}

.nav-logo {
  max-width: 150px;
}

.navbar-item img {
  max-height: initial;
}

.shadow {
  -webkit-box-shadow: 21px 13px 24px -3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 21px 13px 24px -3px rgba(0, 0, 0, 0.13);
  box-shadow: 21px 13px 24px -3px rgba(0, 0, 0, 0.13);
}

.heading-link {
  text-decoration: underline;
}

.is-danger {
  background-color: $danger;
  border-color: $danger !important;
  color: $white;
}

.is-turquoise {
  background-color: $turquoise;
  border-color: $info !important;
  color: $white;
}

.card.main-task-card .card-content {
  min-height: 150px;
}

.section a {
  color: $info;
}

.card-header {
  border-top:3px solid $primary;
}

button.is-huge {
  padding:1rem;
  height: inherit;
  text-align: center;
  display: block;
  width: 100%;

}
button.is-huge span.icon {
  margin: 0 !important;
  font-size: 2em;
  text-align: center;
}
button.is-huge span.icon i.fa {
  font-size: 1em;
  text-align: center;
}
button.is-huge span.button-note {
  display: block;
  text-align: center;
  height: inherit;
  word-wrap: normal;
  max-height: none;
  white-space: initial;
  line-height: 1.4em;
  color: $gray-dark;
}

button.is-small span.icon {
  font-size:.95em;
}
button.is-small span.icon i.fa {
  font-size: 1em;
}

button.is-huge:hover span.button-note,
button.is-huge:focus span.button-note {
  color: #fff;
}

button.button.button-block {
  display: block;
  width: 100%;
}

.label.is-large {
  font-size: 1.5rem;
  margin-top: 2.5rem;
}